.container {
  height: 100%;

  .wrapper {
    padding-bottom: 50px;
    overflow-y: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

