.login {
  margin-top: 10px;

  button {
    background: green;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: auto;
    color: white;

    &:hover {
      cursor: pointer;
      color: black;
      background: greenyellow;
    }
  }
}